/* Fonts */
@font-face {
	font-family: "Gothamono";
	src: url(https://humantooth.neocities.org/fonts/Gothamonov0.2-Regular.woff)
		format("woff");
	font-weight: normal;
	font-style: normal;
}

/* Layout */
body {
	margin: 0;
	background-color: #1b1b2f;
	background-image: url("../public/assets/material/bg.gif");
	color: #ece2f1;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;

	font-family: "Gothamono", monospace;
}

.container {
	display: flex;
	gap: 20px;
	padding: 20px;
	flex-wrap: wrap;
	max-width: 1000px;
}

.left {
	display: flex;
	flex-direction: column;
	flex: 1;
	min-width: 280px;
}

.right {
	display: flex;
	flex-direction: column;
	flex: 2;
	min-width: 180px;
}

.left {
	gap: 20px;
}

.right {
	gap: 0;
}

.box {
	background-color: #1b1b2f;
	border: 1px solid #e0aaff;
	padding: 10px;
	box-sizing: border-box;
	box-shadow: 0 4px 20px rgb(219, 174, 255, 0.15);
}

.image-box img {
	width: 100%;
	object-fit: cover;
	filter: saturate(75%);
	transition: 0.25s ease-out;
}

.image-box img:hover {
	filter: saturate(100%);
	transition: 0.25s ease-in;
}

.links-box {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10px;
	text-align: center;
}

.links-box a {
	display: block;
	padding: 10px;
	background-color: #2c2a4a;
	color: #907ad6;
	text-decoration: none;
	font-weight: bold;
	transition: background 0.3s;

	border: 1px dashed #fff;
	box-shadow: 0 0 0 3px #2c2a4a;
}

.links-box a:hover {
	border: 1px dashed #7fdeff;
	border-width: 0 1px 0 1px;
	color: #e0aaff;
}

.right .box {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/* right text box */
.inner-box {
	flex: 1;
	max-height: 500px;
	background-color: #11001c;
	border: 2px solid #1c1738;
	padding: 15px;
	margin-bottom: 10px;
	box-shadow: 0 4px 20px rgba(251, 193, 209, 0.4);
	overflow-y: auto;
}

.inner-box h2 {
	color: #e0aaff;
	font-size: 1.4rem;
	margin: 0 0 10px;
	border-bottom: 2px solid #4f518c;
	padding-bottom: 5px;
}

.inner-box strong {
	color: #e0aaff;
}

.inner-box u {
	text-decoration-color: #4f518c;
	text-underline-offset: 3px;
}

.inner-box em {
	color: #7fdeff;
}

.inner-box a {
	color: #7fdeff;
	text-decoration: double underline #7fdeff;
	text-underline-offset: 3px;
}

.banner-box {
	width: 100%;
	height: 30%;
	object-fit: cover;
	object-position: center;
	position: relative;
}

.banner-img {
	width: 100%;
	height: 30%;
	border: 2px solid #4f518c;
	box-shadow: 0 4px 15px rgba(251, 193, 209, 0.3);
	object-fit: cover;
	object-position: center;
}

/* left text box */
.text-box {
	max-height: 250px;
	overflow-y: auto;
}

.heading-wrap {
	border-bottom: 2px solid #4f518c;
	margin-bottom: 15px;
}

.heading-wrap h2 {
	color: #7fdeff;
	font-size: 1.5rem;
	margin: 0;
	padding-bottom: 8px;

	text-transform: uppercase;
}

.text-box strong,
.text-box b {
	font-weight: bold;
	color: #7fdeff;
}

.text-box u {
	text-decoration: underline;
	text-decoration-color: #4f518c;
	text-underline-offset: 3px;
}

.text-box em,
.text-box i {
	font-style: italic;
	color: #7fdeff;
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: #907ad6;
}

::-webkit-scrollbar-thumb {
	background: #ffe1f0;
}

::-webkit-scrollbar-thumb:hover {
	background: #ffe1f0;
}

@media (max-width: 768px) {
	.container {
		flex-direction: column;
		align-items: stretch;
	}

	.right .box {
		height: auto;
	}
}

/* Noise & VHS Effect */

.noise {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	z-index: 400;
	opacity: 0.8;
	pointer-events: none;
	opacity: 1;
	z-index: 450;
}

.noise:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: url("https://ice-creme.de/images/background-noise.png");
	pointer-events: none;
	will-change: background-position;
	animation: noise 1s infinite alternate;
}

.lines {
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	pointer-events: none;
	z-index: 300;
	opacity: 0.6;
	will-change: opacity;
	animation: opacity 3s linear infinite;
}

.lines:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	pointer-events: none;
	background: linear-gradient(
		to bottom,
		transparent 50%,
		rgba(0, 0, 0, 0.25) 51%
	);
	background-size: 100% 4px;
	will-change: background, background-size;
	animation: scanlines 0.2s linear infinite;
}

.main {
}

.main .noise:before {
	background-size: 170%;
}

.main .vhs {
	position: absolute;
	left: 2rem;
	top: 2rem;
	will-change: text-shadow;
	animation: rgbText 2s steps(9) 0s infinite alternate;
}

.main .vhs .char {
	will-change: opacity;
	animation: type 1.2s infinite alternate;
	animation-delay: calc(60ms * var(--char-index));
}

.main .time {
	position: absolute;
	right: 2rem;
	top: 2rem;
	will-change: text-shadow;
	animation: rgbText 1s steps(9) 0s infinite alternate;
}

.main .glitchtext {
	will-change: text-shadow;
	animation: rgbText 1s steps(9) 0s infinite alternate;
}

@keyframes noise {
	0%,
	100% {
		background-position: 0 0;
	}
	10% {
		background-position: -5% -10%;
	}
	20% {
		background-position: -15% 5%;
	}
	30% {
		background-position: 7% -25%;
	}
	40% {
		background-position: 20% 25%;
	}
	50% {
		background-position: -25% 10%;
	}
	60% {
		background-position: 15% 5%;
	}
	70% {
		background-position: 0 15%;
	}
	80% {
		background-position: 25% 35%;
	}
	90% {
		background-position: -10% 10%;
	}
}

@keyframes opacity {
	0% {
		opacity: 0.6;
	}
	20% {
		opacity: 0.3;
	}
	35% {
		opacity: 0.5;
	}
	50% {
		opacity: 0.8;
	}
	60% {
		opacity: 0.4;
	}
	80% {
		opacity: 0.7;
	}
	100% {
		opacity: 0.6;
	}
}

@keyframes scanlines {
	from {
		background: linear-gradient(
			to bottom,
			transparent 50%,
			rgba(0, 0, 0, 0.5) 51%
		);
		background-size: 100% 4px;
	}
	to {
		background: linear-gradient(
			to bottom,
			rgba(0, 0, 0, 0.5) 50%,
			transparent 51%
		);
		background-size: 100% 4px;
	}
}

@keyframes rgbText {
	0% {
		text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6),
			1px -1px 8px rgba(255, 255, 235, 0.7), 0px 0 1px rgba(251, 0, 231, 0.8),
			0 0px 3px rgba(0, 233, 235, 0.8), 0px 0 3px rgba(0, 242, 14, 0.8),
			0 0px 3px rgba(244, 45, 0, 0.8), 0px 0 3px rgba(59, 0, 226, 0.8);
	}
	25% {
		text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6),
			1px -1px 8px rgba(255, 255, 235, 0.7), 0px 0 1px rgba(251, 0, 231, 0.8),
			0 0px 3px rgba(0, 233, 235, 0.8), 0px 0 3px rgba(0, 242, 14, 0.8),
			0 0px 3px rgba(244, 45, 0, 0.8), 0px 0 3px rgba(59, 0, 226, 0.8);
	}
	45% {
		text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6),
			1px -1px 8px rgba(255, 255, 235, 0.7), 5px 0 1px rgba(251, 0, 231, 0.8),
			0 5px 1px rgba(0, 233, 235, 0.8), -5px 0 1px rgba(0, 242, 14, 0.8),
			0 -5px 1px rgba(244, 45, 0, 0.8), 5px 0 1px rgba(59, 0, 226, 0.8);
	}
	50% {
		text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6),
			1px -1px 8px rgba(255, 255, 235, 0.7), -5px 0 1px rgba(251, 0, 231, 0.8),
			0 -5px 1px rgba(0, 233, 235, 0.8), 5px 0 1px rgba(0, 242, 14, 0.8),
			0 5px 1px rgba(244, 45, 0, 0.8), -5px 0 1px rgba(59, 0, 226, 0.8);
	}
	55% {
		text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6),
			1px -1px 8px rgba(255, 255, 235, 0.7), 0px 0 3px rgba(251, 0, 231, 0.8),
			0 0px 3px rgba(0, 233, 235, 0.8), 0px 0 3px rgba(0, 242, 14, 0.8),
			0 0px 3px rgba(244, 45, 0, 0.8), 0px 0 3px rgba(59, 0, 226, 0.8);
	}
	90% {
		text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6),
			1px -1px 8px rgba(255, 255, 235, 0.7), -5px 0 1px rgba(251, 0, 231, 0.8),
			0 5px 1px rgba(0, 233, 235, 0.8), 5px 0 1px rgba(0, 242, 14, 0.8),
			0 -5px 1px rgba(244, 45, 0, 0.8), 5px 0 1px rgba(59, 0, 226, 0.8);
	}
	100% {
		text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6),
			1px -1px 8px rgba(255, 255, 235, 0.7), 5px 0 1px rgba(251, 0, 231, 0.8),
			0 -5px 1px rgba(0, 233, 235, 0.8), -5px 0 1px rgba(0, 242, 14, 0.8),
			0 5px 1px rgba(244, 45, 0, 0.8), -5px 0 1px rgba(59, 0, 226, 0.8);
	}
}

@keyframes type {
	0%,
	19% {
		opacity: 0;
	}
	20%,
	100% {
		opacity: 1;
	}
}

.rgbtxt {
	animation: rgbText 1s steps(9) 0s infinite alternate;
	animation-name: rgbText;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

@keyframes rgbText {
	0% {
		text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6),
			1px -1px 8px rgba(255, 255, 235, 0.7), 0px 0 1px rgba(251, 0, 231, 0.8),
			0 0px 3px rgba(0, 233, 235, 0.8), 0px 0 3px rgba(0, 242, 14, 0.8),
			0 0px 3px rgba(244, 45, 0, 0.8), 0px 0 3px rgba(59, 0, 226, 0.8);
	}
	25% {
		text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6),
			1px -1px 8px rgba(255, 255, 235, 0.7), 0px 0 1px rgba(251, 0, 231, 0.8),
			0 0px 3px rgba(0, 233, 235, 0.8), 0px 0 3px rgba(0, 242, 14, 0.8),
			0 0px 3px rgba(244, 45, 0, 0.8), 0px 0 3px rgba(59, 0, 226, 0.8);
	}
	45% {
		text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6),
			1px -1px 8px rgba(255, 255, 235, 0.7), 5px 0 1px rgba(251, 0, 231, 0.8),
			0 5px 1px rgba(0, 233, 235, 0.8), -5px 0 1px rgba(0, 242, 14, 0.8),
			0 -5px 1px rgba(244, 45, 0, 0.8), 5px 0 1px rgba(59, 0, 226, 0.8);
	}
	50% {
		text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6),
			1px -1px 8px rgba(255, 255, 235, 0.7), -5px 0 1px rgba(251, 0, 231, 0.8),
			0 -5px 1px rgba(0, 233, 235, 0.8), 5px 0 1px rgba(0, 242, 14, 0.8),
			0 5px 1px rgba(244, 45, 0, 0.8), -5px 0 1px rgba(59, 0, 226, 0.8);
	}
	55% {
		text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6),
			1px -1px 8px rgba(255, 255, 235, 0.7), 0px 0 3px rgba(251, 0, 231, 0.8),
			0 0px 3px rgba(0, 233, 235, 0.8), 0px 0 3px rgba(0, 242, 14, 0.8),
			0 0px 3px rgba(244, 45, 0, 0.8), 0px 0 3px rgba(59, 0, 226, 0.8);
	}
	90% {
		text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6),
			1px -1px 8px rgba(255, 255, 235, 0.7), -5px 0 1px rgba(251, 0, 231, 0.8),
			0 5px 1px rgba(0, 233, 235, 0.8), 5px 0 1px rgba(0, 242, 14, 0.8),
			0 -5px 1px rgba(244, 45, 0, 0.8), 5px 0 1px rgba(59, 0, 226, 0.8);
	}
	100% {
		text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6),
			1px -1px 8px rgba(255, 255, 235, 0.7), 5px 0 1px rgba(251, 0, 231, 0.8),
			0 -5px 1px rgba(0, 233, 235, 0.8), -5px 0 1px rgba(0, 242, 14, 0.8),
			0 5px 1px rgba(244, 45, 0, 0.8), -5px 0 1px rgba(59, 0, 226, 0.8);
	}
}
